{% extends "base/boilerplate.html" %}
{% block content %}
    <div class="container-sm align-items-center py-2 mt-4 form-responsive">
        <h1 class="text-center mb-5">Fikrinizi Paylaşın</h1>
        <form method="POST">
            {% csrf_token %}
            <!-- First Name -->
            <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                            <span class="px-1 border-md border-right-0 me-2">
                                <i class="bi bi-person fs-2" style="color: #ff4100;"></i>
                            </span>
                </div>
                <div class="flex-grow-1">
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.first_name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Last Name -->
            <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                            <span class="px-1 border-md border-right-0 me-2">
                                <i class="bi bi-person fs-2" style="color: #ff4100;"></i>
                            </span>
                </div>
                <div class="flex-grow-1">
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.last_name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Email Address -->
            <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                            <span class="px-1 border-md border-right-0 me-2">
                                <i class="bi bi-envelope fs-2" style="color: #ff4100;"></i>
                            </span>
                </div>
                <div class="flex-grow-1">
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.email.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Project Title -->
            <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                            <span class="px-1 border-md border-right-0 me-2">
                                <i class="bi bi-pencil fs-2" style="color: #ff4100;"></i>
                            </span>
                </div>
                <div class="flex-grow-1">
                    {{ form.project_title }}
                    {% if form.project_title.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.project_title.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Message -->
            <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                            <span class="px-1 border-md border-right-0 me-2">
                                <i class="bi bi-send fs-2" style="color: #ff4100;"></i>
                            </span>
                </div>
                <div class="flex-grow-1">
                    {{ form.message }}
                    {% if form.message.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.message.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group mb-0" style="margin-left: 47px;">
                <input type="submit" id="signup-btn" class="btn btn-primary btn-block py-2" value="Gönder">
            </div>
        </form>
    </div>
{% endblock content %}