{% extends "base/boilerplate.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container-sm align-items-center">
        <div class="py-2 mt-4 align-items-center">
            <div class="ml-5 pt-3 align-items-center form-container">
                <h1>Fikrinizi Paylaşın</h1>
                <form method="POST" enctype="multipart/form-data" style="max-width: 40%; margin: 0 auto;">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group mb-0">
                        <input type="submit" id="signup-btn" class="btn btn-primary btn-block py-2" value="Gönder">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}